* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  text-align: center;
  padding: 20px;
}

.recent {
  display: flex;
  gap: 20px;
  padding: 20px;
}

form {
  position: absolute;
  right: 20%;
}

.scores {
  background-color: blanchedalmond;
  width: 20%;
  margin: 10px;
}

.scores ul li {
  list-style: none;
}

input {
  display: block;
  margin: 0 0 9px;
}

button {
  background-color: bisque;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: blanchedalmond;
}
